/* Contact section */
.contact-info {
  background-color: #f9f9f9;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 40px;
}


.contact-info h2 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  color: black;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 40px;
  color: #555;
  max-width: 600px;
  margin: 0 auto; /* Center the subtitle */
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
  gap: 30px; /* Space between items */
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  color: #333;
}

.icon {
  font-size: 1.5rem;
  color: #164ce2;
  margin-bottom: 10px;
}

.social-media h4 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 500;
  font-family: poppins;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-link {
  font-size: 1.1rem;
  color: #164ce2;
  transition: color 0.3s ease, transform 0.3s ease; /* Transition for hover effects */
}

.social-link:hover {
  color: #0056b3;
  transform: scale(1.1); /* Slight scaling effect */
}

/* Fade-in animation */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
}

.fade-in-animate {
  animation: fadeIn 0.8s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile First */
@media (max-width: 600px) {
  .contact-info {
    padding: 50px 15px;
    text-align: center;
  }

  .contact-info h2, 
  .subtitle, 
  .social-media h4 {
    text-align: center;
    margin: 0 auto;
  }

  .contact-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .contact-item {
    font-size: 14px;
  }

  .subtitle {
    font-size: 14px;
    margin: 10px;
  }
}

/* Larger screens */
@media (min-width: 1024px) {
  .contact-info h2 {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .contact-item {
    font-size: 1.2rem;
  }
}
